{% extends "chimera/base_generic.html" %}

{% block title %}
    <title>Chimera Action Recommendation</title>
{% endblock %}

{% load static %}

{% block content %}
    <div class="jumbotron justify-content-center text-center">
        <h1 class="mb-3">Select Current Adversary Position</h1>
        <form class="text-center" name="form_name_reco_action" id="form_id_reco_action">
            <div class="form-group col-auto">
                {#                <label for="inputState">State</label>#}
                <select id="inputState" class="form-control">
                    <option selected>Choose State...</option>
                    {% for row in state_space %}
                        <option>{{ row }}</option>
                    {% endfor %}
                    {#                    {% for row in real_state %}#}
                    {#                        <option>{{ row }}</option>#}
                    {#                    {% endfor %}#}
                    {#                    {% for row in honey_states %}#}
                    {#                        <option>{{ row }}</option>#}
                    {#                    {% endfor %}#}
                </select>
            </div>
            <button type="submit" class="btn btn-primary" id="button_reco_action">Recommend Optimal Action</button>
        </form>
        <div class="container justify-content-center text-center">
            <table id="myTable" class=" table order-list">
                <thead>
                <tr>
                    <td class="col-auto"><em><b>Current Observed State</b></em></td>
                    <td class="col-auto"><em><b>Recommended Deception Action</b></em></td>
                </tr>
                </thead>
                <tbody>
                {% for row in recommended_action_list %}
                    <tr>
                        <td class="col-auto">
                            <input type="text" name="current_observed_state" class="form-control"
                                   value="{{ row.current_observed_state }}"/>
                        </td>
                        <td class="col-auto">
                            <input type="text" name="rec_action" class="form-control" value="{{ row.rec_action }}"/>
                        </td>


                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <script type="text/javascript">
        $(document).ready(function () {

            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                        // Only send the token to relative URLs i.e. locally.
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    }
                }
            });

            function ajaxTADistribution(request, url) {
                var data_received
                request['csrfmiddlewaretoken'] = '{{ csrf_token }}';
                var sc_row = JSON.stringify(request);
                $.ajax({
                    type: "POST",
                    url: url,
                    contentType: 'application/json',
                    dataType: 'json',
                    data: sc_row,
                    "beforeSend": function (xhr, settings) {
                        $.ajaxSettings.beforeSend(xhr, settings);
                    },

                    success: function (data_received) {
                        alert(data_received['message'])
                        return data_received
                    },
                    error: function () {
                        alert(data_received['message'])
                        return data_received
                    }
                });
            }

            function prepareRequest() {
                let request_body = {};
                request_body['current_observed_state'] = $('#form_id_reco_action :selected').text()
                return request_body;
            }

            $('#button_reco_action').click(function () {
                let request = prepareRequest();
                console.log("request : ");
                console.log(request);

                let received_data = ajaxTADistribution(request, "/recoaction/");
            });
        });
    </script>

{% endblock %}