{% extends "chimera/base_generic.html" %}
{% load static %}

{% block title %}
    <title>Chimera</title>
{% endblock %}

{% block content %}
    <div class="jumbotron justify-content-center text-center">
        <h2 class="display-5">CHIMERA: Autonomous Planning and Orchestration for Malware Deception</h2>
        <p class="lead">CHIMERA is a theoretical framework for an autonomous goal-oriented cyber
            deception planner, that optimizes deception decision-making. <br>We use the following Deception Graph to
            demonstrate our deception planning.</p>
        <figure class="figure">
            <img src="{% static 'images/info_stealer_deception_graph.png' %}" class="img-fluid" alt="Responsive image"
                 width="80%">
            <figcaption class="figure-caption text-center " style="font-size: x-large">Fig: Deception Graph for
                Information Stealer.
            </figcaption>
        </figure>
    </div>

    <div class="jumbotron">
        <div class="p-5 text-center bg-light">
            <h1 class="mb-3">Planning Parameters</h1>
            <div class="row">
                <div class="col-sm">
                    <ul class="list-group">
                        <li class="list-group-item"><em><b>Real States/Attack States</b></em></li>
                        {% for row in real_state %}
                            <li class="list-group-item">{{ row }}</li>
                        {% endfor %}
                    </ul>
                </div>


                <div class="col-sm">
                    <ul class="list-group">
                        <li class="list-group-item"><em><b>Honey States</b></em></li>
                        {% for row in honey_states %}
                            <li class="list-group-item">{{ row }}</li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="col-sm">
                    <ul class="list-group">
                        <li class="list-group-item"><em><b>Shared States</b></em></li>
                        {% for row in shared_state %}
                            <li class="list-group-item">{{ row }}</li>
                        {% endfor %}
                        <li class="list-group-item"><em><b>Attacker's Goal State</b></em></li>
                        <li class="list-group-item">{{ attacker_goal_state }}</li>
                        <li class="list-group-item"><em><b>Defender's Goal State</b></em></li>
                        <li class="list-group-item">{{ defender_goal_state }}</li>

                    </ul>
                </div>


            </div>
        </div>
    </div>

    <div class="jumbotron justify-content-left text-left">
        <h1 class="mb-3 text-center">Set Planning Parameters</h1>
        <form name="form_name_generate_plan" id="form_id_generate_plan">
            <label for="deception_action_block"><h2 class="mb-3">Deception Goals</h2></label><br>
            <div class="form-group">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="diversion" value="diversion" checked>
                    <label class="form-check-label" for="diversion">Diversion</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="distortion" value="distortion">
                    <label class="form-check-label" for="distortion">Distortion</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="depletion" value="depletion">
                    <label class="form-check-label" for="depletion">Depletion</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="discovery" value="discovery" checked>
                    <label class="form-check-label" for="discovery">Discovery</label>
                </div>
            </div>

            <label for="attack_action_prediction_block"><h2 class="mb-3">Attack Graph using TTP ATT&CK</h2></label><br>
            <p class="lead">The following are the likelihood of attack actions being executed from a given (current)
                state.</p>

            <table id="id_attack_action_prediction_table" class=" table attack_action_prediction_table_order_list">
                <thead>
                <tr>
                    <td class="col-auto"><em><b>Current State</b></em></td>
                    <td class="col-auto"><em><b>Attack Action Name</b></em></td>
                    <td class="col-auto"><em><b>Action Execution Probability</b></em></td>
                </tr>
                </thead>
                <tbody>
                {% for current_state, action_pred_attrb in attack_action_prediction.items %}
                    {% for key, val in action_pred_attrb.items %}
                        <tr id="attack_action_prediction_row">
                            <td class="col-auto">
                                <input type="text" id="current_state" class="form-control"
                                       value="{{ current_state }}"/>
                            </td>
                            <td class="col-auto">
                                <input type="text" id="attack_action" class="form-control" value="{{ key }}"/>
                            </td>
                            <td class="col-auto">
                                <input type="text" id="probability" class="form-control" value="{{ val.probability }}"/>
                            </td>
                            <td>
                                <input type="button" class="ibtnDel btn btn-md btn-danger " value="Delete">
                            </td>
                            <td class="col-auto"><a class="deleteRow"></a></td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td class="col-auto justify-content-center text-center"  style="text-align: center;">
                        <input type="button" class="btn btn-primary btn-block "
                               id="id_attack_action_prediction_table_addrow"
                               value="Add New Attack Action"/>
                    </td>
                </tr>
                <tr>
                </tr>
                </tfoot>
            </table>


            <label for="deception_action_block"><h2 class="mb-3">Deception Actions</h2></label>

            <p class="lead">The following are deception actions. Each deception actions has corresponding compatible
                attack action against which the deception action is effective. The other parameters are
                <em>effectiveness</em>
                and installment <em>cost</em> of each deception action.</p>

            <table id="id_deception_action_table" class=" table deception_action_table_order_list">
                <thead>
                <tr>
                    <td class="col-auto"><em><b>Deception action</b></em></td>
                    <td class="col-auto"><em><b>Attack action</b></em></td>
                    <td class="col-auto"><em><b>Effectiveness</b></em></td>
                    <td class="col-auto"><em><b>Cost</b></em></td>
                    <td class="col-auto"><em><b>Can Achieve Deception Goal</b></em></td>
                </tr>
                </thead>
                <tbody>
                {% for deception_action_name, action_attrb in deception_actions.items %}
                    <tr id="deception_action_row">
                        <td class="col-auto">
                            <input type="text" id="deception_action_name" class="form-control"
                                   value="{{ deception_action_name }}"/>
                        </td>
                        {% for key, val in action_attrb.items %}
                            {% if key not in 'transition_matrix' %}
                                <td class="col-auto">
                                    <input type="text" id="{{ key }}" class="form-control" value="{{ val }}"/>
                                </td>
                            {% endif %}
                        {% endfor %}
                        <td>
                            <input type="button" class="ibtnDel btn btn-md btn-danger " value="Delete">
                        </td>
                        <td class="col-auto"><a class="deleteRow"></a></td>
                    </tr>
                {% endfor %}

                </tbody>
                <tfoot>
                <tr>
{#                    <td class="col-auto" colspan="5" style="text-align: left;">#}
                    <td class="col-auto" style="text-align: left;">
                        <input type="button" class="btn btn-primary btn-block " id="id_deception_action_table_addrow"
                               value="Add New Deception Action"/>
                    </td>
                </tr>
                <tr>
                </tr>
                </tfoot>
            </table>
{#            <label for="attack_action_prediction_block"><h2 class="mb-3">Attack Graph using TTP ATT&CK</h2></label><br>#}
{#            <p class="lead">The following are the likelihood of attack actions being executed from a given (current)#}
{#                state.</p>#}
{##}
{#            <table id="id_attack_action_prediction_table" class=" table attack_action_prediction_table_order_list">#}
{#                <thead>#}
{#                <tr>#}
{#                    <td class="col-auto"><em><b>Current State</b></em></td>#}
{#                    <td class="col-auto"><em><b>Attack Action Name</b></em></td>#}
{#                    <td class="col-auto"><em><b>Action Execution Probability</b></em></td>#}
{#                </tr>#}
{#                </thead>#}
{#                <tbody>#}
{#                {% for current_state, action_pred_attrb in attack_action_prediction.items %}#}
{#                    {% for key, val in action_pred_attrb.items %}#}
{#                        <tr id="attack_action_prediction_row">#}
{#                            <td class="col-auto">#}
{#                                <input type="text" id="current_state" class="form-control"#}
{#                                       value="{{ current_state }}"/>#}
{#                            </td>#}
{#                            <td class="col-auto">#}
{#                                <input type="text" id="attack_action" class="form-control" value="{{ key }}"/>#}
{#                            </td>#}
{#                            <td class="col-auto">#}
{#                                <input type="text" id="probability" class="form-control" value="{{ val.probability }}"/>#}
{#                            </td>#}
{#                            <td>#}
{#                                <input type="button" class="ibtnDel btn btn-md btn-danger " value="Delete">#}
{#                            </td>#}
{#                            <td class="col-auto"><a class="deleteRow"></a></td>#}
{#                        </tr>#}
{#                    {% endfor %}#}
{#                {% endfor %}#}
{#                </tbody>#}
{#                <tfoot>#}
{#                <tr>#}
{#                    <td class="col-auto justify-content-center text-center"  style="text-align: center;">#}
{#                        <input type="button" class="btn btn-primary btn-block "#}
{#                               id="id_attack_action_prediction_table_addrow"#}
{#                               value="Add New Attack Action"/>#}
{#                    </td>#}
{#                </tr>#}
{#                <tr>#}
{#                </tr>#}
{#                </tfoot>#}
{#            </table>#}
            <input type="button" class="btn btn-primary btn-lg active" id="button_generate_plan" value="Generate New Plan"/>
            <button class="btn btn-primary spinner-hide" type="button" disabled id="id_loading_button">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Loading...
            </button>
        </form>

        <div id="id_plan_generation_success_response" style="display: none">
        </div>
    </div>


    <script type="text/javascript">
        $(document).ready(function () {
            var counter = 0;

            $("#id_deception_action_table_addrow").on("click", function () {
                var newRow = $("<tr id=\"deception_action_row\">");
                var cols = "";

                cols += '<td><input type="text" class="form-control" id="deception_action_name" name="start_state' + counter + '"/></td>';
                cols += '<td><input type="text" class="form-control" id="attack_action" name="end_state' + counter + '"/></td>';
                cols += '<td><input type="text" class="form-control" id="effectiveness" name="deception_action' + counter + '"/></td>';
                cols += '<td><input type="text" class="form-control" id="cost" name="attack_action' + counter + '"/></td>';
                cols += '<td><input type="text" class="form-control" id="benefit" name="app' + counter + '"/></td>';

                cols += '<td><input type="button" class="ibtnDel btn btn-md btn-danger "  value="Delete"></td>';
                newRow.append(cols);
                $("table.deception_action_table_order_list").append(newRow);
                counter++;
            });

            $("#id_attack_action_prediction_table_addrow").on("click", function () {
                var newRow = $("<tr id=\"attack_action_prediction_row\">");
                var cols = "";

                cols += '<td><input type="text" class="form-control" id="current_state" name="start_state' + counter + '"/></td>';
                cols += '<td><input type="text" class="form-control" id="attack_action" name="end_state' + counter + '"/></td>';
                cols += '<td><input type="text" class="form-control" id="probability" name="deception_action' + counter + '"/></td>';

                cols += '<td><input type="button" class="ibtnDel btn btn-md btn-danger "  value="Delete"></td>';
                newRow.append(cols);
                $("table.attack_action_prediction_table_order_list").append(newRow);
                counter++;
            });


            $("table.deception_action_table_order_list").on("click", ".ibtnDel", function (event) {
                $(this).closest("tr").remove();
            });

            $("table.attack_action_prediction_table_order_list").on("click", ".ibtnDel", function (event) {
                $(this).closest("tr").remove();
                {#counter -= 1#}
            });


            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                        // Only send the token to relative URLs i.e. locally.
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    }
                }
            });

            function ajaxTADistribution(request, url) {
                request['csrfmiddlewaretoken'] = '{{ csrf_token }}';
                var sc_row = JSON.stringify(request);
                $.ajax({
                    type: "POST",
                    url: url,
                    contentType: 'application/json',
                    dataType: 'json',
                    data: sc_row,
                    "beforeSend": function (xhr, settings) {
                        $.ajaxSettings.beforeSend(xhr, settings);
                    },

                    success: function (data_received) {
                        plan_generation_output(data_received)

                    },
                    error: function (data_received) {
                        alert(data_received['message'])
                        return data_received
                    }
                });
            }

            function plan_generation_output(data_received) {
                document.getElementById('id_loading_button').style.display = 'none'
                document.getElementById('button_generate_plan').disabled = false
                document.getElementById('id_plan_generation_success_response').style.display = 'inline'
                document.getElementById('id_plan_generation_success_response').innerHTML = ""
                {#document.getElementById('id_plan_generation_success_response_message').innerHTML += "<strong>Success!</strong> " + data_received['message']#}

                let str = '<div class="alert alert-success alert-dismissible fade show">' +
                    "<strong>Success!</strong> " + data_received['message'] +
                    '   <button type="button" class="close" data-dismiss="alert">&times;</button>\n' +
                    '</div>'

                document.getElementById('id_plan_generation_success_response').innerHTML += str

            }

            function prepareRequest() {
                let request_body = {};

                // deception goal
                request_body['deception_goal'] = []
                let goals_id = ['diversion', 'distortion', 'depletion', 'discovery']
                for (let id in goals_id) {
                    if ($('#' + goals_id[id]).is(":checked"))
                        request_body['deception_goal'].push(goals_id[id])
                }


                //new code
                // deception action
                var table = document.getElementById("id_deception_action_table");
                request_body['deception_action'] = []
                for (var i = 0, row; row = table.rows[i]; i++) {
                    if (row.id === 'deception_action_row') {
                        {#console.log('row', row)#}
                        let row_dict = {}
                        for (var j = 0, col; col = row.cells[j]; j++) {
                            if (col.children[0].nodeName === "INPUT" && col.children[0].type === "text") {
                                row_dict[col.children[0].id] = col.children[0].value
                            }
                        }
                        request_body['deception_action'].push(row_dict)
                    }
                }

                // attack action prediction
                table = document.getElementById("id_attack_action_prediction_table");
                request_body['attack_action_prediction'] = []
                for (var i = 0, row; row = table.rows[i]; i++) {
                    if (row.id === 'attack_action_prediction_row') {
                        {#console.log('row', row)#}
                        let row_dict = {}
                        for (var j = 0, col; col = row.cells[j]; j++) {
                            if (col.children[0].nodeName === "INPUT" && col.children[0].type === "text") {
                                row_dict[col.children[0].id] = col.children[0].value
                            }
                        }
                        request_body['attack_action_prediction'].push(row_dict)
                    }
                }
                console.log('request_body', request_body)

                //end new code

                /*
                // deception action and attack action
                let inputs = document.getElementById("form_id_generate_plan").elements;

                for (let i = 0; i < inputs.length; i++) {
                    if (inputs[i].nodeName === "INPUT" && inputs[i].type === "text") {
                        // Update text input
                        {#console.log(inputs[i].value)#}
                        {#console.log(inputs[i].id)#}
                        request_body[inputs[i].id] = inputs[i].value
                    }
                }
                */
                return request_body;
            }

            $('#button_generate_plan').click(function () {
                document.getElementById('id_loading_button').style.display = 'inline'
                $('#button_generate_plan').prop("disabled", true)

                let request = prepareRequest();
                console.log("request:", request);

                let received_data = ajaxTADistribution(request, "/updateplan/");
            });
        });
    </script>

{% endblock %}